/* TOÀN TRANG */
body{
    margin: 0 auto;
    padding: 0;
    font-family: 'Inter', sans-serif;
    margin-bottom: 0;
}


/* HEADER */
header{
    display: flex;
    justify-content: center;
    height: 130px;
    position: sticky;
    z-index: 100;
    background: #FFFFFF;
    background-blend-mode: hard-light;
    box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);
}

.header2{

    max-width: 1440px;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 15px;
}
.menu {
    padding-left: 0px;
    list-style: none; /*bỏ dấu đầu dòng*/
    display: flex;
    flex-direction: row;
    gap: 30px; /*khoảng cách*/
}

.menu li a {
    width: 130px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    text-align: center;

    color: #000000;
    text-decoration: none;
    transition: background-color 0.3s;
}

.menu li a:hover {
    font-weight:600;
    border-bottom: 0.5px solid black; /* Gạch chân đậm màu đen */
    transition: transform 0.2s ease, border-bottom 0.2s ease;
}

.logo{
    width: 130px;
    height: 130px;
}
.logo a img{
    width:100%;
}

.icon-search {
    width: 30px;
    height: 30px;
}
.icon-search a img {
    width: 100%;
}

.icon-cart {
    width: 30px;
    height: 30px;
}
.icon-cart a img {
    width: 100%;
}

.sxc{
    display: flex;
    gap: 30px;
}


/* MAIN */
main{
    max-width: 1440px;
    background-color: #FFFFFF;
}


/* FOOTER */
footer{
    display: grid;
    justify-content: center;
    height: 400px;
    background-color: #0D2B45;
}

.social{
    display: flex;
    gap: 20px;
}


.footer2{
    max-width: 1440px;
    font-size: 12px;
    font-weight: 200;
    display: flex;
    color: #FFFFFF;
    gap: 50px;
    margin-left: 30px;
}

.footer2 h3{
    font-size: 20px;
}

.logof{
    position: relative;
    left: 30px;
}

.san{
    
    padding-left: 28px;
    align-items: center;
    display: flex
;
    gap: 20px;
}
.gioithieu{
    flex:1;
}
.csachxlhe {
    justify-content: space-between;
    display: flex;
    gap: 40px;
}
.tmdt{
    flex:1;
}
.ppttoan{
    padding-left: 15px;
    display: flex
;
    gap: 20px;
}


