.banner{
    width: 1256px;
}

.banner img{
    width: 100%;
}
.dichvu{
    margin-bottom: 30px;
    margin-left: 10px;
    margin-top: 80px;
    font-size: 15px;
    display: flex;
    gap: 30px;
    align-items: flex-start;
    justify-content: space-between;
}
.dichvu b{
    font-size: 20px;
}
.dichvu div{
    gap:20px;
    display: flex;
}

.bphu{
    margin-top: 30px;
    justify-content: center;
    display: flex;
    gap: 25px;
}

.bphu div img {
    width: 600px;
    border-radius: 30px;
}
.imgsp{
    position:relative;
}
.overclay{
    border-radius: 30px;
    top: -1px;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;

}

.banchay{
    display: flex;
    flex-direction: column;
    gap: 36px;
    margin-bottom: 30px;
}

.banchay .chon_spbc{
    font-size: 17px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    white-space: nowrap;
}

.chon_spbc{
    flex: 1;
}

.banchay .tab_button.active{
    background: #000000;
    color: #fff;
 }

.banchay .tab_button{
    cursor: pointer;
    padding: 10px 35px;
    border: 0.2px solid #333;
    border-radius: 30px;
    font-weight: 600;
    transition: .4s cubic-bezier(.5, 0, 0, 1.25);
 }

 .banchay .tab_button:hover{
    background: #000000;
    color: #fff;
 }