.banner{
    width: 1256px;
}

.banner img{
    width: 100%;
}
.dichvu{
    margin-bottom: 30px;
    margin-left: 10px;
    margin-top: 90px;
    font-size: 15px;
    display: flex;
    gap: 30px;
    align-items: flex-start;
    justify-content: space-between;
}
.dichvu b{
    font-size: 20px;
}
.dichvu div{
    gap:20px;
    display: flex;
}

.bphu{
    margin-top: 80px;
    align-content: center;
}

.bphu h2{
    text-align: center;
    font-weight: bold;
}

.bphu2{
    justify-content: center;
    display: flex;
    gap: 25px;
}

.bphu2 div{
    width: 500px;
}

.bphu2 div img{
    border-radius: 30px;
    width: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.29), rgba(0, 0, 0, 0.29));
}
